/* VARIABLES */

//Fonts
$poppins: "Poppins",
sans-serif;
$satisfy: "Satisfy",
cursive;

//Colors
// http://paletton.com/#uid=15n0u0kapvz2IRN6aGLfkqAkQli
$color-primary-0: #de96ae;
$color-primary-1: #f6e2e9;
$color-primary-2: #ecbfce;
$color-primary-3: #bb6280;
$color-primary-4: #963455;
$color-secondary-0: #ffc1cf;
$color-secondary-1: #e8ffb7;
$color-secondary-2: #e2a0ff;
$color-secondary-3: #c5f5fc;
$color-secondary-4: #f9cff2;
$color-secondary-5: #efe9e7;

/* GLOBAL */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: $poppins;
}

/* HEADER */
header {
  background-image: url("/images/garden.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.hero {
  padding: 2% 4%;
  // display: flex;
  // justify-content: space-between;
  // height: 100vh;
}

.hero__container {
  width: 80%;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

// .hero__logo {
//   display: inline-block;
//   line-height: 2em;
// }

// .hero__logo__image {
//   background-color: #fff;
// }

.hero__logo__content {
  color: #963455;
  font-family: $satisfy;
  font-size: 2em;
}

.hero__menu__list {
  display: flex;
  justify-content: space-between;
  float: left;
  width: 100%;
  list-style: none;
  display: flex;

  li {
    display: inline-block;
    padding: 0 6%;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: $color-primary-4;
    font-size: 1.5em;

    &:hover {
      color: $color-primary-3;
      transition: 0.3s;
    }
  }
}
