/* VARIABLES */

//Fonts
$poppins: "Poppins";
$satisfy: "Satisfy";

//Colors
// http://paletton.com/#uid=15n0u0kapvz2IRN6aGLfkqAkQli
$color-primary-0: #de96ae;
$color-primary-1: #f6e2e9;
$color-primary-2: #ecbfce;
$color-primary-3: #bb6280;
$color-primary-4: #963455;
$color-secondary-0: #ffc1cf;
$color-secondary-1: #e8ffb7;
$color-secondary-2: #e2a0ff;
$color-secondary-3: #c5f5fc;
$color-secondary-4: #f9cff2;
$color-secondary-5: #efe9e7;

/* GLOBAL */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $poppins;
  color: $color-primary-4;
}

/* NAVIGATION */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4em;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  line-height: 1em;
}

/* Kazdy .nav__item ktory ma przed sobą .nav__item */
.nav__item+.nav__item {
  margin-left: 1em;
}

nav .hero__logo__cafe {
  font-size: 2rem;
  text-decoration: none;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    opacity: .75;
  }
}

.nav__link--button {
  background-color: #fff;
  color: $color-primary-4;
  padding: .25em 1em;
  border-radius: 10em;
}


/* HEADER */
header {
  background-image: url("/images/barista.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  width: 80%;
  max-width: 1240px;
  margin: 0 auto;
}

.hero__logo__cafe {
  font-family: $satisfy;
  font-size: 5.5rem;
}

.hero {
  padding: 100px 0;
  background-color: #23424a;
  color: #fff;

  p {
    margin-bottom: 3em;
  }
}

.hero__text {
  width: 60%;
  padding: 10% 0;
  color: $color-primary-1;

  h1 {
    font-size: 4rem;
    font-weight: 300;
    padding-bottom: 2%;
    color: $color-secondary-5;
  }

  p {
    font-size: 1.2rem;
    font-weight: 200;
    padding-bottom: 2%;
    color: $color-secondary-5;
  }
}

.hero__btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-primary-1;
  font-weight: 900;
  background-color: $color-primary-4;
  padding: 0.75em 2em;
  border-radius: 100px;
}

/* MAIN */
.section-header {
  font-size: 2rem;
  text-align: center;
  margin: 3em 0;
}

.main {
  display: flex;
  justify-content: space-between;
}

.primary-content {
  padding: 2em;
  text-align: center;
  align-items: center;
  border: 1px solid #963455;
  border-radius: 20px;
  min-height: 20em;
}

.primary-content-image {
  width: 100%;
  min-height: 250px;
  border: 1px solid black;
}
